<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>라운드온</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>$(KAKAO_REST_API_KEY)</string>
	<key>ROUNDON_API_BEARER</key>
	<string>$(ROUNDON_API_BEARER)</string>
	<key>GEMINI_API_KEY</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>라운드 사진을 첨부하여 공유 viewer에 포함할 수 있습니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>공유 viewer 사진을 사진 앱에 저장할 수 있습니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>골프 라운드 운동 기록을 건강 앱에 저장합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>골프 라운드를 운동으로 기록하여 건강 앱에 저장합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>가까운 골프장을 자동으로 찾기 위해 현재 위치를 사용합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchSplash</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
